<style>
  .css1 { font-size: 12px; }
  .css2 { font-size: 14px; }
  .css3 { font-size: 16px; }
  .css4 { font-size: 20px; }
</style>
<h1>Welcome</h1>
<%- if @no_connection -%>
  <%= t('api.problem_with_connetion') %>
<%- else -%>
  <p>
    Your have connection with PADMA. You have <%= @students.body %> students.
  </p>
<%- end -%>
<div>
  Your school data:
  id: <%= current_user.school.id %><br />
  padma_id: <%= current_user.school.padma_id %><br />
  name: <%= current_user.school.name %>
</div>
<div>
  <h2>Incomes</h2>
  <% tag_cloud(@income_concepts, %w(css1 css2 css3 css4)) do |tag, css_class| %>
    <span class="<%= css_class %>"><%= tag %></span>
  <% end %>
  <h2>Expenses</h2>
  <% tag_cloud(@expense_concepts, %w(css1 css2 css3 css4)) do |tag, css_class| %>
    <span class="<%= css_class %>"><%= tag %></span>
  <% end %>
</div>