<h1><%= t('people.new.title') %></h1>
<div id="warn"><%= t('people.new.warn_creating_local') %></div>

<% form_for(@person) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :surname %><br />
    <%= f.text_field :surname %>
  </p>
  <p>
    <%= f.submit t('Create') %>
  </p>
<% end %>

<%= link_to t('Back'), people_path %>