<h1>Editing import</h1>

<% form_for(@import) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :csv_file_file_name %><br />
    <%= f.text_field :csv_file_file_name %>
  </p>
  <p>
    <%= f.label :csv_file_content_type %><br />
    <%= f.text_field :csv_file_content_type %>
  </p>
  <p>
    <%= f.label :csv_file_file_size %><br />
    <%= f.text_field :csv_file_file_size %>
  </p>
  <p>
    <%= f.label :csv_file_updated_at %><br />
    <%= f.datetime_select :csv_file_updated_at %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @import %> |
<%= link_to 'Back', imports_path %>