<h1>Listing imports</h1>

<table>
  <tr>
    <th>State</th>
    <th>Csv file file name</th>
    <th>Csv file updated at</th>
  </tr>

<% @imports.each do |import| %>
  <tr>
    <td><%= h import.aasm_state %></td>
    <td><%=h import.csv_file_file_name %></td>
    <td><%=h import.csv_file_updated_at %></td>
    <td><%= link_to 'Import', load_data_import_path(import) %></td>
    <td><%= link_to 'Show', import %></td>
    <td><%= link_to 'Edit', edit_import_path(import) %></td>
    <td><%= link_to 'Destroy', import, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New import', new_import_path %>