<p>
  <b>Csv File:</b>
  <%= h(@import.csv_file_file_name) %>
</p>
<%- if @imported_rows.empty? -%>
  <div>
    <%= link_to t('import.load_data'), load_data_import_path(@import) %>
  </div>
<%- else -%>
  <%- semantic_form_for @search, :url => import_url(@import) do |f| -%>
    <%- f.inputs do -%>
      <%= f.input "filter", :collection => [[t('imported_row.all'),"all"],[t('imported_row.successfull'),"successfull"],[t('imported_row.failed'),"failed"]] %>
    <%- end -%>
    <%- f.buttons do -%>
      <%= f.commit_button %>
    <%- end -%>
  <%- end -%>
  <div id="imported_rows">
    <h3><%= t('import.imported_rows') %></h3>
    <%= will_paginate @imported_rows %>
    <table>
      <tr>
        <th>row</th>
        <th>account</th>
        <th>date</th>
        <th>user</th>
        <th>desc</th>
        <th>amount</th>
        <th>category</th>
        <th>concepts</th>
      </tr>
      <%- @imported_rows.each do |ir| -%>
        <%- if ir.success -%>
          <%- t = ir.transaction -%>
          <tr class="<%= cycle 'row0', 'row1' %>">
            <td><%= ir.row %></td>
            <td><%= h t.account.name %></td>
            <td><%= l(t.made_on, :format => :short) %></td>
            <td><%= h t.user.drc_user %></td>
            <td><%= h t.description %></td>
            <td><%= "-" if t.type=="Expense" %><%= t.amount %></td>
            <td><%= h t.category.try(:name) %></td>
            <td><%= h t.concept_list %></td> 
            <%- if !ir.message.blank? -%>
              <td><%= h ir.message %></td>
            <%- end -%>
            <td><%= link_to t('edit'), edit_transaction_url(t) %></td>
            <td><%= link_to t('destroy'), transaction_url(t), :method => :delete, :confirm => t('confirm_destroy') %></td>
          </tr>
        <%- else -%>
        <tr class="failed">
          <td><%= ir.row %></td>
          <td colspan="5">
            <%= h ir.message %>
          </td>
        </tr>
        <%- end -%>
    <%- end -%>
    </table>
  </div>
  <%= will_paginate @imported_rows %>
<%- end -%>


<%= link_to 'Edit', edit_import_path(@import) %> |
<%= link_to 'Back', imports_path %>