<h1><%= t('categories.index.title') %></h1>

<div id="choose-period">
  <%- semantic_form_for :search, :url => categories_path, :html => { :method => :get } do |f| -%>
    <%= t('categories.index.filter_period') %>
    <%- f.inputs do -%>
      <%= slider_formtastic_inputs(f,@months,@since,@until) %>
    <%- end -%>
    <%- f.buttons do -%>
      <%= f.commit_button t('filter') %>
    <%- end -%>
<%- end -%>
</div>

<%= link_to t('categories.new'), new_category_path %>

<%= will_paginate @roots %>
<%- form_tag edit_multiple_categories_path do -%>
<ul>
  <%- @roots.each do |root| -%>
    <%= render :partial => 'tree', :locals => {:category => root} %>
<%- end -%>
</ul>
  <%= submit_tag t('categories.index.set_parent_for_checked') %>
<%- end -%>
<%= will_paginate @roots %>
<br />

<%= link_to t('categories.new'), new_category_path %>
<%= slider_script %>