<h1>Listing transactions</h1>

<div id="choose-period">
  <%- semantic_form_for :search, :url => transactions_path, :html => { :method => :get } do |f| -%>
    <%- f.inputs do -%>
      <%= f.input :period_field, :as => :select, :collection => [[t('transaction.labels.made_on'),:made_on], [t('transaction.labels.account_on'),:account_on]], :selected => @considered_field %>
      <%= t('transactions.index.filter_period') %>
      <%= slider_formtastic_inputs(f,@months,@since,@until) %>
    <%- end -%>
    <%- f.buttons do -%>
      <%= f.commit_button %>
    <%- end -%>
<%- end -%>
</div>

<%= render :partial => 'transactions/table' %>

<br />

<%= link_to t('transaction.new'), new_transaction_path %>
<%= slider_script %>