<h1>New transfer</h1>

<%- semantic_form_for :transfer, :url => transfer_new_transaction_url do |f| -%>
  <%- f.inputs do -%>
    <%= f.input :from_account_id, :collection => @accounts.map{|a|[a.name,a.id]} %>
    <%= f.input :to_account_id, :collection => @accounts.map{|a|[a.name,a.id]} %>
    <%= f.input :amount, :as => :string %>
    <%= f.input :description, :as => :string %>
  <%- end -%>
  <%- f.buttons do -%>
    <%= f.commit_button %>
  <%- end -%>
<%- end -%>

<%= link_to 'Back', transactions_path %>