<h1>Listing accounts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Balance</th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= link_to h(account.name), account %></td>
    <td><%=h account.balance %></td>
    <td><%= link_to t('accounts.add_transaction'), new_account_transaction_path(account) %></td>
    <td><%= link_to t('Edit'), edit_account_path(account) %></td>
    <td><%= link_to t('Destroy'), account, :confirm => t('confirm_destroy'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('account.new'), new_account_path %> - <%= link_to t('transaction.new_transfer'), transfer_new_transaction_url %>