<h1><%= h @account.name %></h1>
<h3>Balance: <%= @account.balance.currency.symbol %><%= @account.balance %></h3>

<div>
  <%= render :partial => 'transactions/table', :locals => {:skip_field => {:account => true}} %>
</div>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>