<h1><%= h @account.name %></h1>
<h3>Balance: <%= h @account.prt_balance %></h3>

<%= link_to t('transaction.new'), new_account_transaction_path(@account) %> |
<%= link_to t('transaction.new_transfer'), transfer_new_transaction_url %>

<div>
  <%= render :partial => 'transactions/table', :locals => {:skip_field => {:account => true}} %>
</div>

<%= link_to t('transaction.new'), new_account_transaction_path(@account) %> |
<%= link_to t('transaction.new_transfer'), transfer_new_transaction_url %> |
<%= link_to t('Edit'), edit_account_path(@account) %> |
<%= link_to t('Back'), accounts_path %>